<navbar></navbar>

<!-- <div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div> -->

<div class="row">
  <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
    <!-- <div ng-controller="SpectrasCtrl as showCase"> -->
    {{status}}
        <table datatable="ng" dt-options="dtOptions" class="row-border hover">
            <thead>
              <tr>
                  <th>Request Code</th>
                  <th>Owner</th>
                  <th>Techniques</th>
                  <th>Experiments</th>
                  <th>Storage</th>
                  <th>Toxicity</th>
                  <th>Dissolve</th>
                  <th>Additional info</th>
                  <th>Request Date</th>
                  <th></th>
                  
              </tr>
            </thead>
          <tbody>
        
          

            <tr ng-repeat="request in requests">
              
              <td>{{ request.code }}</td>
              <td>{{ request.owner_id }}</td>

              <td>
                <div ng-repeat="exp in request.experiments">
                    
                  {{ exp.technique }}

                </div>
              </td>
                
              <td>
                <div ng-repeat="exp in request.experiments">
                      
                  <div ng-repeat="exp_data in exp.experiments"> 

                    {{ exp_data }} 

                  </div>

                </div>
              </td>

              <td>{{ request.storage }}</td>
              <td>{{ request.toxicity }}</td>
              <td>{{ request.dissolve }}</td>
              <td>{{ request.additional_info }}</td>
              <td>{{ request.request_date  | date }}</td>
              <td> <button class="btn btn-primary" ng-click="submitRequest(request)">Submit</button> </td>
                
            </tr>
        
          </tbody>
        </table>
    <!-- </div> -->
  </div>
</div>

<footer></footer>
