<div class="container">
  <p>MyLimsPrototype under the MongoDB usage as a main database was built in Angular Fullstack v3.2.0 |
  by Julian Rodriguez<a href="https://twitter.com/felorodri"> @felorodri </a></p>
  <p>Find more about Angular Fullstack generator on
    <a href="https://github.com/angular-fullstack/generator-angular-fullstack">Github</a>
   </p>
</div>
