/* ==========================================================================
   Header
========================================================================== */

.hero-unit {
  background-image: url('../../assets/images/lab.jpg');
  width: 100%;
  height: 55vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;"
}

.hero-unit-header {
  color: #fff;
  padding-top: 20vh;
  /*padding-bottom: 20vh;*/
}

.hero-unit h1 {
  font-size: 50px;
  text-align: right;
  margin-top: -50px;
  /*padding-bottom: 68vh*/
}

.hero-unit p {
  font-size: 30px;
  text-align: right;
}

/* ==========================================================================
   Dashboard
========================================================================== */

.stats {
  margin: 80px 0;
  text-align: center;
}

.stats p {
  font-size: 20px;
  padding-top: 30px;
}

.stats span.glyphicon {
  font-size: 80px;
}