<navbar></navbar>

    <header class="hero-unit" id="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2">
            <div class="hero-unit-header">
              <h1>Welcome to MyLims!</h1>
              <p class="lead">My Database of spectra and chromatograms</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="dashboard">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="stats">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <p> Registered users: {{main.registered_users}} </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="stats">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              <p> Registered spectras: {{main.registered_spectras}} </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="stats">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              <p> Public spectras: {{main.registered_public_spectras}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

<footer></footer>