<navbar></navbar>

<!-- <div class="container" ng-controller="DashboardCtrl as showCase"> -->
  <div class="row">
    <aside class="col-md-3">
	  <div class="well">
        <ul class="list-group">
          <li class="list-group-item"><strong>Name: </strong> <span ng-bind="user.name"></span></li>
          <li class="list-group-item"><strong>E-mail: </strong> <span ng-bind="user.email"></span></li>
          <li class="list-group-item"><strong>College: </strong> <span ng-bind="user.college"></span></li>
          <li class="list-group-item"><strong>Research Group: </strong> <span ng-bind="user.research_group"></span></li>
          <li class="list-group-item"><strong>Country: </strong> <span ng-bind="user.country"></span></li>
          <li class="list-group-item"><strong>City: </strong> <span ng-bind="user.city"></span></li>

        </ul>
      </div>
    </aside>
      
    <section class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">My Spectras</h3>
            </div>
            <ul class="list-group">
              <li ng-repeat="spectra in owned_spectras" class="list-group-item">
               <span ng-bind="spectra.request_code" ng-click="showSpectraInfo(spectra, true)"></span>
              </li>
            </ul>
          </div>
        </div>


       <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Shared Spectra</h3>
            </div>
            <ul class="list-group">
             <li ng-repeat="spectra in shared_spectras" class="list-group-item">
               <span ng-bind="spectra.request_code" ng-click="showSpectraInfo(spectra, false)"></span>
             </li>
           </ul>
         </div>
       </div>
      </div>
    </section>
  </div>
<!-- </div> -->

<footer></footer>


<script type="text/ng-template" id="spectra_info.html">
    <div class="modal-header">
        <h3 class="modal-title">Spectra Details: </h3>
    </div>
    <div class="modal-body">
      
        
          <div class="form-group">
           
            <label class="control-label" for="fld-reference"> Spectra Reference: </label>
            <span> {{id}} </span>
          
          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Request Code: </label>
            <span> {{request_code}} </span>
          
          </div>

          <div class="form-group">

            <table style="width:100%">
					   
					   <tr>
					    <th>Technique</th>
					    <th>Experiments</th> 
					    <th>Results</th>
					   </tr>
					   
					   <tr>

  				            <td>
				            	<div ng-repeat="exp in experiments">
				            		
				            		{{ exp.technique }}

				            	</div>
				            </td>
				            
				            <td>
				            	<div ng-repeat="exp in experiments">
				            			
				            		<div ng-repeat="exp_data in exp.experiments"> 

				            			{{ exp_data }} 

				            		</div>

				            	</div>
				            </td>

				            <td>
				            	<div ng-repeat="exp in experiments">
				            			
				            		<div ng-repeat="res in exp.results"> 

				            			<a ng-click="getResult(res)"> Details </a>

				            		</div>

				            	</div>				            	
				            </td>

	  				    </tr>
	  				    
					</table> 

          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Dissolve: </label>
            <span> {{dissolve}} </span>

          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Toxicity: </label>
            <span> {{toxicity}} </span>

          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Storage: </label>
            <span> {{storage}} </span>

          </div>

          <div style = "font-size: 30px; text-align:right; padding-right:inherit; padding-top:inherit" ng-if='mine === true' ng-click="shareSpectra(id)">
          	<a>
          		<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          	</a>
          </div>
              
    </div>
    

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>


<script type="text/ng-template" id="result_info.html">
    <div class="modal-header">
        <h3 class="modal-title">Spectra Details: </h3>
    </div>
    <div class="modal-body">
    	<json-formatter open="1" json='result'></json-formatter>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

