<navbar></navbar>
<div class="row">
	<div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
		<!-- <div ng-controller="SpectrasCtrl as showCase"> -->
		    <table datatable="ng" class="row-border hover">
		        <thead>
		        <tr>
		            <!-- <th>Id</th> -->
		            <th>Request Code</th>
		            <th>Owner</th>
		            <th>Techniques</th>
		            <th>Experiments</th>
		            
		        </tr>
		        </thead>
		        <tbody>
				
				{{status}}

		        <tr ng-repeat="spectra in spectras" ng-click="openDetails(spectra)" >
		            <!-- <td>{{ spectra._id }}</td> -->
		            <td>{{ spectra.request_code }}</td>
		            <td>{{ spectra.owner_id }}</td>

		            <td>
		            	<div ng-repeat="exp in spectra.experiments">
		            		
		            		{{ exp.technique }}

		            	</div>
		            </td>
		            
		            <td>
		            	<div ng-repeat="exp in spectra.experiments">
		            			
		            		<div ng-repeat="exp_data in exp.experiments"> 

		            			{{ exp_data }} 

		            		</div>

		            	</div>
		            </td>
		            
		        </tr>
				
		        </tbody>
		    </table>
		<!-- </div> -->
	</div>
</div>
<footer></footer>



<script type="text/ng-template" id="spectra.html">
    
    <div class="modal-header">
        <h3 class="modal-title">Spectra Details</h3>
    </div>

    <div class="modal-body">
    	<!--<div class="col-xs-12">
    		<form class="form-horizontal">-->

	    		<div class="form-group">
	    			<div> <label class="control-label">Owner</label> </div>
	    			<div> {{owner}} </div>
	    		</div>
	    		
	    		<div class="form-group">
	    			<div> <label class="control-label">Request Code</label> </div>
	    			<div> {{request_code}} </div>
	    		</div>

	    		<div class="form-group">

	    			<div> <label class="control-label">Experiments</label> </div>
	    			<table style="width:100%">
					   
					   <tr>
					    <th>Technique</th>
					    <th>Experiments</th> 
					   </tr>
					   
					   <tr>

  				            <td>
				            	<div ng-repeat="exp in experiments">
				            		
				            		{{ exp.technique }}

				            	</div>
				            </td>
				            
				            <td>
				            	<div ng-repeat="exp in experiments">
				            			
				            		<div ng-repeat="exp_data in exp.experiments"> 

				            			{{ exp_data }} 

				            		</div>

				            	</div>
				            </td>

	  				    </tr>
	  				    
					</table> 
	    			
	    		</div>
	    		
	    		<div class="form-group">
	    			<div> <label class="control-label">Status</label> </div>
	    			<div> {{status}} </div>
	    		</div>

	    		<div class="form-group">
		            <label class="control-label" for="fld-reference"> Dissolve: </label>
		            <label class="control-label" for="fld-reference-value"> {{dissolve}} </label>
   	            </div>

	            <div class="form-group">
		            <label class="control-label" for="fld-reference"> Toxicity: </label>
		            <label class="control-label" for="fld-reference-value"> {{toxicity}} </label>
                </div>

	            <div class="form-group">
	            	
		            <label class="control-label" for="fld-reference"> Storage: </label>
		            <label class="control-label" for="fld-reference-value"> {{storage}} </label>
                </div>

	    	</form>
    	</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Ok</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
