<navbar></navbar>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Actions
				</div>
				<div class="list-group">
					<a class="list-group-item" ng-click="addRequest()"><i class="glyphicon glyphicon-plus"></i>  Add Request</a>
					<a class="list-group-item" ng-click="sendResquests()"><i class="glyphicon glyphicon-send"></i>  Send Requests</a>
				</div>
			</div>
		</div>
		<div class="col-md-8">

			<!--{{form|json}}-->
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Request List</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td><span ng-bind="item.code"></span><!-- <button>del</button> --></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<footer></footer>

<script type="text/ng-template" id="addRequest.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Request</h3>
    </div>
    <div class="modal-body">
    	<!--<div class="col-xs-12">
    		<form class="form-horizontal">-->
	    		<div class="form-group">
	    			<label class="control-label" for="fld-reference">Reference</label>
	    			<input id="fld-reference" name="reference" type="text" class="form-control" ng-model="form.code" required >
	    		</div>
	    		<div class="form-group">
	    			<label class="control-label" for="fld-cities">City</label>
	    			<select id="fld-cities" class="form-control" ng-model="form.city" ng-options="item.id as item.name group by item.country for item in cities" required></select>
	    		</div>
	    		<div class="form-group">
	    			<label class="control-label" for="fld-technique">Technique</label>
	    			<select id="fld-technique" class="form-control" ng-model="form.technique" ng-options="item.id as item.name for item in techniques track by item.id" ng-click="showExperiments()"></select>
	    		</div>
	    		<div class="form-group">
	    			
	    			<label class="control-label" for="fld-experiments" ng-show="show_experiments">Experiments</label>
	    			<label class="control-label" for="fld-experiments" ng-show="show_phases">Phase</label>

	    			<select id="fld-experiments" class="form-control" ng-model="form.experiment" multiple ng-multiple="true" ng-options="item.id as item.name for item in experiments" ng-show="show_experiments"></select>

	    			<select id="fld-experiments" class="form-control" ng-model="form.experiment" multiple ng-multiple="true" ng-options="item.id as item.name for item in phases" ng-show="show_phases"></select>

	    		</div>
	    		<div class="form-group">
	    			
	    			<label class="control-label" for="fld-solvents" ng-show="show_experiments">Solvent</label>
	    			<select id="fld-solvents" class="form-control" ng-model="form.dissolve" ng-options="item.id as item.name for item in solvents" ng-show="show_experiments" required></select>
	    			
	    		</div>
	    		<div class="form-group">
	    			<label class="control-label" for="fld-toxicity">Toxicity</label>
	    			<select id="fld-toxicity" class="form-control" ng-model="form.toxicity" ng-options="item.id as item.name for item in toxicity" required></select>
	    		</div>
	    		<div class="form-group">
	    			<label class="control-label" for="fld-storage">Storage</label>
	    			<select id="fld-storage" class="form-control" ng-model="form.storage" ng-options="item.id as item.name for item in storage" required></select>
	    		</div>

	    		<div class="form-group">
	    			<label class="control-label" for="fld-addInfo">Additional info:</label>
	    			<input id="fld-additional_info" name="additional_info" type="text" class="form-control" ng-model="form.additional_info">
	    		</div>

	    	<!--</form>
    	</div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
