<navbar></navbar>
<div class="container">
	<div class="row">
		<h3>In what kind of results would you like to search in?</h3>
		<div class="input-group col-md-12">
			<label class="checkbox-inline"><input type="checkbox" value="" ng-checked=true ng-model="mine">In my results</label>
			<label class="checkbox-inline"><input type="checkbox" value="" ng-model="shared">In shared spectras results</label>
			<label class="checkbox-inline"><input type="checkbox" value="" ng-model="public">Just public results</label>
		</div>
		<div class="input-group col-md-12" style="margin-top:8vh">
			<label class="checkbox-inline"><input type="checkbox" value="" ng-model="in_result_data">Enable search in results data</label>
		</div>
	</div>
	<div></div>
	<div class="row" style="margin-top:3vh">
		<!-- <h2>Stylish Search Box</h2> -->
           <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" placeholder="Type your query here..."  ng-model="input"/>
            	    <span class="input-group-btn">
	                    <button class="btn btn-danger" type="button" ng-click = "search()" ng-disabled="button">
	                        <span class=" glyphicon glyphicon-search"></span>
	                    </button>
                    </span>
                </div>
            </div>
	</div>
</div>

 <div class="row" style="margin-top:15vh">
	<div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
		    <table datatable="ng" class="row-border hover">
		        <thead>
		        <tr>
		            <th>Request Code</th>
		            <th>Owner</th>
		            <th>Techniques</th>
		            <th>Experiments</th>
		            
		        </tr>
		        </thead>
		        <tbody>
				
				{{status}}

		        <tr ng-repeat="spectra in spectras" ng-click="showSpectraInfo(spectra, false)" >
		            <td>{{ spectra.request_code }}</td>
		            <td>{{ spectra.owner_id }}</td>

		            <td>
		            	<div ng-repeat="exp in spectra.experiments">
		            		
		            		{{ exp.technique }}

		            	</div>
		            </td>
		            
		            <td>
		            	<div ng-repeat="exp in spectra.experiments">
		            			
		            		<div ng-repeat="exp_data in exp.experiments"> 

		            			{{ exp_data }} 

		            		</div>

		            	</div>
		            </td>
		            
		        </tr>
				
		        </tbody>
		    </table>
	</div>
</div> 

<footer></footer>


<script type="text/ng-template" id="spectra_info.html">
    <div class="modal-header">
        <h3 class="modal-title">Spectra Details: </h3>
    </div>
    <div class="modal-body">
      
        
          <div class="form-group">
           
            <label class="control-label" for="fld-reference"> Spectra Reference: </label>
            <span> {{id}} </span>
          
          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Request Code: </label>
            <span> {{request_code}} </span>
          
          </div>

          <div class="form-group">

            <table style="width:100%">
					   
					   <tr>
					    <th>Technique</th>
					    <th>Experiments</th> 
					    <th>Results</th>
					   </tr>
					   
					   <tr>

  				            <td>
				            	<div ng-repeat="exp in experiments">
				            		
				            		{{ exp.technique }}

				            	</div>
				            </td>
				            
				            <td>
				            	<div ng-repeat="exp in experiments">
				            			
				            		<div ng-repeat="exp_data in exp.experiments"> 

				            			{{ exp_data }} 

				            		</div>

				            	</div>
				            </td>

				            <td>
				            	<div ng-repeat="exp in experiments">
				            			
				            		<div ng-repeat="res in exp.results"> 

				            			<a ng-click="getResult(res)"> Details </a>

				            		</div>

				            	</div>				            	
				            </td>

	  				    </tr>
	  				    
					</table> 

          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Dissolve: </label>
            <span> {{dissolve}} </span>

          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Toxicity: </label>
            <span> {{toxicity}} </span>

          </div>

          <div class="form-group">
            
            <label class="control-label" for="fld-reference"> Storage: </label>
            <span> {{storage}} </span>

          </div>

          <div style = "font-size: 30px; text-align:right; padding-right:inherit; padding-top:inherit" ng-if='mine === true' ng-click="shareSpectra(id)">
          	<a>
          		<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          	</a>
          </div>
              
    </div>
    

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>


<script type="text/ng-template" id="result_info.html">
    <div class="modal-header">
        <h3 class="modal-title">Spectra Details: </h3>
    </div>
    <div class="modal-body">
    	<json-formatter open="1" json='result'></json-formatter>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
